/* Import font here so we don't have to add it to every site page  */
@import "amaranth_stylesheet.css";

html {
  font-size:100%;
}

body {
  /* Remember: If you don't set what you want, the browser will decide for you! */
  font-family:Cambria, Arial, Helvetica, sans-serif;
  font-size:100%;
  
  color:#000;
  margin:20px;
  
  /* background-color:#FFFFCC */
  background-color:#f2f2f2;

  /* background-image:url(../images/brick_wall.gif); */
  /* background-attachment:fixed; */
}

a                    { text-decoration:none;     }
a:link               { color:#00f;               }
a:visited            { color:#800080;            }
a:active, a:focus    { color:#f00;               }

/* Utilitarian Classes */
.center  { text-align: center; }
.left    { text-align: left;   }

figcaption { font-size:.7em; }

/* When bulleted lists need to be in the center of the page */
.alignBulletsCenter {
  display:inline-block;
  text-align:left;
}

h1.pageTitle {
  background-color:#232F3E;
  margin-top:0;
  border-top:4px groove #808080;
}

/* Opinionated fix for q */
q::before, q::after {
  content:"";       /* No automatic quotes */
}


